body {
    background: linear-gradient(#8EE4AF 20%, #6666FF);
    background-size: cover;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    background-position: center bottom;
    background-origin: padding-box;
} 

header {
    text-align: left;
    background: linear-gradient(#05386B, navy);
    height: 120px;
    padding-top: 10px;
    width: 100%;
  
}

#weather-detail {
    display: none;
    margin-top: 20px;
}


h1 {
    color: #7FFFD4;
    font-size: 60px;
    margin: 50px 20px 0px 20px;
    display: inline; 
    padding: 20px 0px 0px 0px;

}

h2 {
    margin: 20px 0;
}

label {
    font-size: 32px;
}

#zip {
    display: inline-block;
    font-size: 28px;
    margin: auto 5px;
    border-radius: 5%;
    padding: 15px;
    width: 40%;
    background: url('magnifying-glass.svg') 1px 1px;
    background-size: 50px;
    background-repeat: no-repeat;
    border: 1px solid black;
    background-color: lightgray;
    background-position: 10px;
    text-align: right;
    align-content: right;
}

#submit {
    background-color: navy;
    color: white;
    padding: 5px 10px;
    display: block;
    margin: 20px auto;
}

ul {
    margin: 0px 20px;
    padding-inline-start: 0px;
}

button {
    font-size: 32px;
}

li {
    margin: 20px;
    font-size: 40px;
    font-weight: bold;
    list-style-type: none;

}

#current li {
    font-size: 64px;
}

p {
    display: inline;
    margin: 30px 20px;
    color: navy;
    font-size: 22px;
}

.tabs {
    width: 40%;
    border: 1px solid black;
    color: #7FFFD4;
    background: linear-gradient(#05386B, navy);
    font-size: 48px;
    margin-top: 40px;
    margin-right: 1px;
}


.city-name {
    font-size: 48px;
    font-weight: bold;
    display: block;
}

.city-temp {
    font-size: 38px;
}

.default-box {
    border: 1px solid black;
    width: 350px;
    display: inline-block;
    margin: 40px 20px 10px 20px;
    padding: 10px;
    color: #7FFFD4;
    background: linear-gradient(#05386B, navy);
    border-radius: 10px;
}

#weather {
    color: #7FFFD4;
    background: linear-gradient(#05386B, navy);
    max-width: 80%;
    margin: auto;
    background-color:white;
    border: 2px black solid;
}

#forecast-tab {
    border-bottom: 5px solid #7FFFD4;
    margin-left: 2px;
    background-color: navy;
}

#current-tab {
    border-bottom: 5px solid navy;
}

#forecast {
    display: none;
    color: #7FFFD4;
    background: linear-gradient(#05386B, navy);
    max-width: 80%;
    text-align: left;
    margin: auto;
}

.fas {
    font-size: 64px;
    width: 100%;
}

.hi-lo {
    font-size: 32px;
    text-align: center;
}

.day {
    text-align: center;    
}

.day-forecast {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
}